
  <nav  class="navbar navbar-expand-lg navbar-light ">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"> <h5 class=""><i class="fa-solid fa-infinity fa-xl"></i> Core-HR</h5></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active text-primary " aria-current="page" href="#"><i
                class="fa-solid fa-house-chimney fa-fade text-primary"></i > Home |</a>
          </li>
          <li class="nav-item">
            <a routerLink="hrManager/user" class="nav-link text-primary "ref="#"><i class="fa-solid fa-user fa-fade text-primary"></i> User |</a>
          </li>
          <li class="nav-item">
            <a routerLink="hrManager/allEmployees" class="nav-link text-primary" href="#"><i class="fa-solid fa-users fa-fade text-primary"></i> All Employees |</a>
          </li>
          <li class="nav-item">
            <a routerLink="hrManager/addEmployee" class="nav-link text-primary" href="#"><i class="fa-solid fa-plus fa-fade text-primary"></i> Add Employee</a>
          </li>
    
        </ul>
      </div>
    </div>
  </nav>


