

  <!-- Footer -->
<footer style="background-color: #F0F1F3;" class=" text-center text-dark">
  <!-- Grid container -->
  <div class="container p-4 text-dark">

          <!-- Section: Social media -->
          <section class="mb-4" >
            <!-- Facebook -->
            <a
              class="btn text-white btn-floating m-1"
              style="background-color: #3b5998;"
              href="#!"
              role="button"
              ><i class="fab fa-facebook-f"></i
            ></a>
      
            <!-- Twitter -->
            <a
              class="btn text-white btn-floating m-1"
              style="background-color: #55acee;"
              href="#!"
              role="button"
              ><i class="fab fa-twitter"></i
            ></a>
      
            <!-- Google -->
            <a
              class="btn text-white btn-floating m-1"
              style="background-color: #dd4b39;"
              href="#!"
              role="button"
              ><i class="fab fa-google"></i
            ></a>
      
            <!-- Instagram -->
            <a
              class="btn text-white btn-floating m-1"
              style="background-color: #ac2bac;"
              href="#!"
              role="button"
              ><i class="fab fa-instagram"></i
            ></a>
      
            <!-- Linkedin -->
            <a
              class="btn text-white btn-floating m-1"
              style="background-color: #0082ca;"
              href="#!"
              role="button"
              ><i class="fab fa-linkedin-in"></i
            ></a>
            <!-- Github -->
            <a
              class="btn text-white btn-floating m-1"
              style="background-color: #333333;"
              href="#!"
              role="button"
              ><i class="fab fa-github"></i
            ></a>
          </section>

    <!-- Section: Form -->
    <section class="">
      <form action="">
        <!--Grid row-->
        <div class="row d-flex justify-content-center">
          <!--Grid column-->
          <div class="col-auto">
            <p class="pt-2">
              <strong>Sign up for our newsletter</strong>
            </p>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-5 col-12">
            <!-- Email input -->
            <div class="form-outline form-white mb-4">
              <input type="email" id="form5Example21" class="form-control" />
              <label class="form-label" for="form5Example21">Email address</label>
            </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-auto">
            <!-- Submit button -->
            <button type="submit" class="btn btn-outline-dark mb-4">
              Subscribe
            </button>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </form>
    </section>
    <!-- Section: Form -->

    <!-- Section: Text -->
    <section class="mb-4">
      <p>
        The One Solution for Managing Your Employees
        Manage,train and communicate with your non-desk workforce, all on
        Core-HR
      </p>
    </section>
    <!-- Section: Text -->

    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Product</h5>

          <ul class="list-unstyled mb-0">
            <li class="my-2">
              <a style="text-decoration: none;" href="#!" class="text-dark ">Operations</a>
            </li>
            <li class="my-2">
              <a style="text-decoration: none;" href="#!" class="text-dark">Employee Scheduling</a>
            </li>
            <li class="my-2">
              <a style="text-decoration: none;" href="#!" class="text-dark">Checklists & Forms</a>
            </li>
            <li class="my-2">
              <a style="text-decoration: none;" href="#!" class="text-dark">Task Management</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0 ">
          <h5 class="text-uppercase">Company</h5>

          <ul class="list-unstyled mb-0">
            <li class="my-2">
              <a style="text-decoration: none;" href="#!" class="text-dark">Customers</a>
            </li>
            <li class="my-2">
              <a style="text-decoration: none;" href="#!" class="text-dark">About Us</a>
            </li>
            <li class="my-2">
              <a style="text-decoration: none;" href="#!" class="text-dark">Contact Us</a>
            </li>
            <li class="my-2">
              <a style="text-decoration: none;" href="#!" class="text-dark">Careers</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Industries</h5>

          <ul class="list-unstyled mb-0">
            <li class="my-2">
              <a style="text-decoration: none;" href="#!" class="text-dark">Retail</a>
            </li>
            <li class="my-2">
              <a style="text-decoration: none;" href="#!" class="text-dark">Security</a>
            </li>
            <li class="my-2">
              <a style="text-decoration: none;" href="#!" class="text-dark">Staffing </a>
            </li>
            <li class="my-2">
              <a style="text-decoration: none;" href="#!" class="text-dark">Logistics</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Resources</h5>

          <ul class="list-unstyled mb-0">
            <li class="my-2">
              <a style="text-decoration: none;" href="#!" class="text-dark">Blog</a>
            </li>
            <li class="my-2">
              <a style="text-decoration: none;" href="#!" class="text-dark">Case Studies</a>
            </li>
            <li class="my-2">
              <a style="text-decoration: none;" href="#!" class="text-dark">Help Center</a>
            </li>
            <li class="my-2">
              <a style="text-decoration: none;" href="#!" class="text-dark">Events</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2023 Copyright:
    <a class="text-white" href="https://mdbootstrap.com/">Core-HR.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->