.card{
    margin-left: 500px;
}
img{
    width: 450px;
     height: 450px;
     margin-top: 50px;
     margin-left: 130px;

}

@media screen  and (min-width:200px) and (max-width:320px) {
  .row{
    flex-direction: column;
  }
  .card{
    width: 300px;
    margin-right: 100px;
    /* padding-left:-100px ; */
    overflow-y: hidden;

}

.col-6{
    width: 310px;
    margin-left: -90;
}
.col-md-12{
    width: 300px;
}
#carddiv{
   width: 260px;
   margin-left: -10px;
}
    img{
    width: 290px;
     height: 200px;
     margin-top: 30px;
     margin-left: 10px;

}
#card1{
    width: 280px;
    margin-left: -10px;
    
}
li{
    width: 200px;
}
}